@if (User.Identity.IsAuthenticated)
{



<div class="main-menu  d-none d-lg-block">
            <ul id="navigation">
                <li>
                    @if (!User.IsInRole("Admin"))
                    {
                        <a href="/Profile"> Profile <i class="ti-angle-down"></i></a>
                        <ul class="submenu">
                            @if (User.IsInRole("Developer"))
                            {
                                <li><a href="/Job/AppliedJobs">Applied Jobs</a></li>
                            }
                            else
                            {
                                <li><a href="/Job/MyJobs">Posted Jobs</a></li>
                            }
                            <hr style="margin: 0px">
                            <li><a href="/Profile/Settings">Settings </a></li>
                            <hr style="margin: 0px">
                            <li><a href="/Account/Logout">Log out</a></li>
                        </ul>
                }
                else { 
                <a href="/Admin"> Profile <i class="ti-angle-down"></i></a>
                    }

                </li>
            </ul>
    </div>
}
else
{
    <div class="phone_num d-none d-xl-block">
        <a href="/Account/Login">Log in</a>
    </div>
}