@model Job_Board.ViewModel.ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
    ViewData["style"] = "background-color:rgba(0,29,56,0.8);";
}

<div class="featured_candidates_area candidate_page_padding">
    <div class="container" style="margin-top:5%;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="background: white;padding: 30px;box-shadow: 0px 15px 12px 0px #cacaca;">
                <h4 style="text-align:center;font-family: auto;font-size: 25px;">Forget Password</h4>
                @if (ViewBag.Sent == true)
                {
                    <p style="text-align:center;font-family: auto;">Reset password token sent to your email.</p>
                }
                else
                {
                    <form asp-action="ForgetPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Email address"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send" class="btn btn-success" />
                        </div>
                    </form>
                }
                <a asp-action="Login" style="font-size: 10px;color: gray;text-decoration:underline;">Already Have An Account?</a>
            </div>
        </div>
    </div>
</div>
