@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Verify Token";
    ViewData["style"] = "background-color:rgba(0,29,56,0.8);";
}

<div class="featured_candidates_area candidate_page_padding" style="margin-top:10%;">
    <div class="container">
        <div class="row">
            <h2>Failed To Verify Token.</h2>
        </div>
    </div>
</div>